@model IEnumerable<ExpenseManager.Models.Category>

<head>
    <link href="~/Content/styles/categories-page.css" rel="stylesheet" />
</head>
@if (Model.Where(c => c.User.UserName == User.Identity.Name).Any())
{
    <div class="categories-wrapper">
        <div class="row">
            <div class="col-lg-6 col-lg-push-1">
                <p class="new-category-title"><h3 class="new-category-title">@Html.ActionLink("Create", "Create")  new category!</h3> </p> 
                <hr/>
        </div>
    </div>
        <div class="categories-table col-lg-6 col-lg-push-1">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th></th>
                </tr>

                @foreach (var c in Model.Where(c => c.User.UserName == User.Identity.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => c.Title)
                        </td>

                        <td class="delete-button">
                            <button class="btn btn-danger delete"> @Html.ActionLink("Delete", "Delete", new { id = c.CategoryId })</button>
                        </td>
                    </tr>
                }

            </table>
        </div>
        </div>
}


else
{
    <p class="no-category-area">
        <text class="no-category-text">
            You do not have any categories,<br /> so
        </text>
        <text class="no-category-create-new">
            @Html.ActionLink("Create", "Create")
            <text class="no-category-create-new-text">new one now!</text>
        </text>
    </p>
  
}
