@using ExpenseManager.Utils;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ExpenseManager.Models.Expense>
<head>
    <link href="~/Content/styles/expenses-page.css" type="text/css" rel="stylesheet" />
</head>
@if (Model.Any())
{
    <div class="expenses-wrapper">
        <h3 class="new-expense-title">
            @Html.ActionLink("Create", "Create") new expense!
        </h3>
        <hr />

        @using (Html.BeginForm("Index", "Expenses", FormMethod.Get))
        {
            <div class="row">
                <div class="col-lg-6">
                    <p class="find-by-category">
                        <text class="find-by-category-text">Find by category:</text> @Html.TextBox("searchString")
                        <input class="btn btn-info" type="submit" value="Search" id="example-search-input" />
                    </p>
                </div>

                <div class="col-lg-6">
                    <p class="find-by-date">
                        <text class="find-by-date-text">Find by date:</text>
                        @Html.TextBox("searchedDate", "searchedDate", new { @class = "datefield", type = "date" })
                        <input class="btn btn-info" type="submit" value="Search" />
                    </p>
                </div>
            </div>
        }
        <div class="row">
            <div class="expenses-table">
                <table class="table">
                    <tr>
                        <th>
                            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.NameSortParm })
                            @*Html.DisplayNameFor(model => model.Category.Title)*@
                        </th>
                        <th class="white-cell">
                            @Html.DisplayNameFor(model => model.First().Value)
                        </th>
                        <th>
                            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                            @*Html.DisplayNameFor(model => model.Date)*@
                        </th>
                        <th class="white-cell" colspan="2">
                            @Html.DisplayNameFor(model => model.First().Comments)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Where(e => e.User.UserName == User.Identity.Name))
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td class="table-comments" colspan="2">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td class="expenses-edit-delete-links">
                                <button class="btn btn-warning button">  @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseID }) </button>
                                <button class="btn btn-danger button"> @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseID })</button>
</td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = Request.QueryString["searchString"], searchedDate = Request.QueryString["searchedDate"] }))

                <p class="table-total">
                    Total: @Html.Raw((((decimal)ViewBag.TotalValue).ToString("C2")))
                </p>

            </div>

        </div>
    </div>
}
else
{
    <p class="no-expenses-area">
        <text class="no-expenses-text">
            You do not have any expenses,<br /> so
        </text>
        <text class="no-expenses-create-new">
            @Html.ActionLink("Create", "Create")
            <text class="no-expenses-create-new-text"> one now!</text>
        </text>
    </p>
}



<script type="text/javascript">
    $(document).ready(function () {
        $("#searchDate").datepicker();
    });
</script>


