@model IEnumerable<ExpenseManager.Models.Expense>
    @using ExpenseManager.Utils;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Expenses", FormMethod.Get))
{
   
    <p>
        Find by category: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>

    <p>
            Find by date: @Html.Editor("searchedDate")
            <input type="submit" value="Search" />
           @Html.ValidationMessage("searchedDate", "Please enter a valid date", new { @class = "date" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*Html.DisplayNameFor(model => model.Category.Title)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            @*Html.DisplayNameFor(model => model.Date)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(e => e.User.UserName == User.Identity.Name)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseID })
        </td>
    </tr>

}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchDate").datepicker();
    });
</script>

   
