@{
    ViewBag.Title = "Home";
}
@using ExpenseManager.Models;
@using ExpenseManager.Utils;

@model IEnumerable<ExpenseManager.Models.Expense>
@section featured {
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                    <div id="morris-area-chart"></div> 
            </div>
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="~/Expenses">Go to Expenses</a>
                            </li>
                            <li>
                                <a href="~/Expenses/Create">Add new expense</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Amount</th>
                                        <th>WHen</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(e => e.User.UserName == User.Identity.Name)
        .OrderBy(e => e.Date))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Category.Title)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Value)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                    <div class="col-lg-6">
                        <div id="morris-bar-chart"></div>
                    </div>

                </div>
                <!-- scrips for the carts -->
                <!--expenses from the beggining-->
                @{

                    var dataTotal = ChartsData.GetTotalData(Model).Select(e => new { label = e.Key, value = e.Value });

                    var listTotal = Newtonsoft.Json.JsonConvert.SerializeObject(dataTotal);
                }

                <script type="text/javascript">
                var dataTotal = @(Html.Raw(listTotal));
                </script>

                <!--expenses from today-->
                @{

                    var dataFromToday = ChartsData.GetTodaysData(Model).Select(e => new { label = e.Key, value = e.Value });

                    var listFromToday = Newtonsoft.Json.JsonConvert.SerializeObject(dataFromToday);
                }

                <script type="text/javascript">
                var dataFromToday = @(Html.Raw(listFromToday));
                </script>

                <!--expenses from this month-->
                @{

                    var dataFromThisMonth = ChartsData.GetDataFromThisMonth(Model).Select(e => new { label = e.Key, value = e.Value });

                    var listFromThisMonth = Newtonsoft.Json.JsonConvert.SerializeObject(dataFromThisMonth);
                }

                <script type="text/javascript">
                var dataFromThisMonth = @(Html.Raw(listFromThisMonth));
                </script>

                <!--expenses from this year-->
                @{

                    var dataFromThisYear = ChartsData.GetDataFromThisYear(Model).Select(e => new { label = e.Key, value = e.Value });

                    var listFromThisYear = Newtonsoft.Json.JsonConvert.SerializeObject(dataFromThisYear);
                }

                <script type="text/javascript">
                var dataFromThisYear = @(Html.Raw(listFromThisYear));
                </script>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <a href="#" class="btn btn-default btn-block">View Details</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart2"></div>
                                <a href="#" class="btn btn-default btn-block">View Details</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                                </div>
                                <div class="panel-body">
                                    <div id="morris-donut-chart3"></div>
                                    <a href="#" class="btn btn-default btn-block">View Details</a>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                                </div>
                                <div class="panel-body">
                                    <div id="morris-donut-chart4"></div>
                                    <a href="#" class="btn btn-default btn-block">View Details</a>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>

            </div>
            <!-- /.panel-body -->
        </div>
    </div>
}